.Title {
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 16px;
  margin: 0 auto 32px auto;
  width: calc(100% - 32px);
  color: var(--neutral-base);
  border-bottom: 1px dotted var(--neutral-medium);
}

@media only screen and (min-width: 620px) {
  .Title {
    text-align: right;
    font-size: 3.4rem;
    padding: 0;
    padding-bottom: 16px;
    padding-right: 16px;
    width: 100%;
    color: var(--neutral-medium);
    transform: rotate(-2deg);
  }
}
