.Header {
  background: gray;
  position: relative;
}

.Header__banner {
  background-attachment: scroll,fixed;
  background-color: #666;
  background-image: url('/banner.jpg');
  background-position: top center,center center;
  background-repeat: repeat,no-repeat;
  background-size: cover;
  color: #fff;
  padding: 12em 0 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header__name {
  font-size: 3.4rem;
}

.Header__job {
  margin-top: 0;
  font-size: 2.1rem;
}

@media only screen and (max-width: 1280px) {
  .Header__banner {
    background-attachment: scroll;
    padding: 8em 0 10em;
  }
}
