.Header {
  z-index: 1;
  height: 350px;
  overflow: hidden;
}

.Header__background {
  height: 100vh;
  object-fit: cover;
  width: 100%;
  position: fixed;
}

.Header::after {
  position: fixed;
  content: '';
  height: 100vh;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, transparent 60%, var(--neutral-light) 80%);
}

@media only screen and (min-width: 620px) {
  .Header {
    height: 500px;
  }
}

.Header__txt {
  position: absolute;
  color: #fff;
  padding: 8em 0 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  width: 100%;
}

.Header__banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header__logo {
  border-radius: 50%;
  width: 100px;
  display: block;
  height: 100px;
}

.Header__name {
  font-size: 3.4rem;
  font-weight: normal;
}

.Header__job {
  margin-top: 0;
  font-size: 2rem;
}

@media only screen and (min-width: 620px) {
  .Header__banner {
    padding: 4em 0 0;
  }
}
