.FooterLink {
  display: block;
  padding: 4px;
}

.FooterLink__link svg {
  width: 32px;
  height: 32px;
  margin: 4px;
  display: block;
  fill: var(--neutral-base);
  transition: all 0.3s;
}

.FooterLink__link:hover svg {
  margin: 2px;
  width: 36px;
  height: 36px;
}

.FooterLink__link--facebook:hover svg {
  fill: #3B5998;
}
.FooterLink__link--github:hover svg {
  fill: #181717;
}
.FooterLink__link--googleplus:hover svg {
  fill: #DC4E41;
}
.FooterLink__link--linkedin:hover svg {
  fill: #0077B5;
}
