.Expert__intro {
  display: flex;
  flex-direction: column;
}

.Expert__title {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 4px;
  text-align: center;
}

.Expert__desc {
  font-size: 1.5rem;
  padding: 4px;
  text-align: center;
  margin: 0 auto 16px auto;
  max-width: 500px;
  line-height: 1.4;
}

.Expert__separator {
  margin: 16px 0;
}

.Expert__img {
  width: 100%;
  border-radius: 6px;
}

.Expert__features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
