.Expert__intro {
  display: flex;
  flex-direction: column;
}

.Expert__title {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 4px;
  text-align: center;
}

.Expert__desc {
  padding: 4px;
  text-align: center;
  margin: 0 auto 16px auto;
  max-width: 500px;
  font-size: 1.5rem;
  line-height: 1.5;
}

.Expert__separator {
  margin: 16px 0 32px 0;
}

.Expert__img {
  width: 100%;
  border-radius: 6px;
}

.Expert__features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.st3{fill:var(--neutral-medium);}
.st4{fill:var(--neutral-neutral);}
.st5{fill:var(--neutral-base);}
