.App {
  background-color: var(--neutral-light);
}

.Page {
  flex: 1;
  background-color: var(--neutral-light);
}

.Page__inner {
  position: relative;
  top: -32px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-lightest);
  box-shadow: 0 1px 0 0 #e5e5e5;
  padding: 32px;
  border-radius: 6px;
  margin: 0 32px;
}
