.Footer {
  padding: 0;
  position: relative;
  z-index: 2;
  margin-top: 32px;
}

@media only screen and (min-width: 620px) {
  .Footer {
    padding: 0 32px 32px;
  }
}

.Footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--neutral-lightest);
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (min-width: 620px) {
  .Footer__inner {
    border-radius: 6px;
  }
}

.Footer__links {
  margin: 0px 0px 0px 16px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex: 1;
}

.Footer__copyright {
  padding: 22px;
  font-size: 1.4rem;
  font-weight: bold;
}
